BODY
{
    BACKGROUND-COLOR: #ffffff;
    COLOR: #636363;
    FONT-FAMILY: Tahoma;
    FONT-SIZE: 11px
}
P
{
    COLOR: #000000;
    FONT-FAMILY: Tahoma;
    FONT-SIZE: 13px;
    MARGIN-BOTTOM: 4px;
    MARGIN-TOP: 4px
}
TABLE.Top
{
    BORDER-BOTTOM: #000000 1px;
    BORDER-LEFT: #000000 1px solid;
    BORDER-RIGHT: #000000 1px solid;
    BORDER-TOP: #000000 1px solid
}
TABLE.Middle
{
    BORDER-BOTTOM: #000000 1px;
    BORDER-LEFT: #000000 1px solid;
    BORDER-RIGHT: #000000 1px solid;
    BORDER-TOP: #000000 1px
}
TABLE.Bottom
{
    BORDER-BOTTOM: #000000 1px solid;
    BORDER-LEFT: #000000 1px solid;
    BORDER-RIGHT: #000000 1px solid;
    BORDER-TOP: #000000 1px
}
TABLE.Center
{
    BORDER-BOTTOM: #000000 1px;
    BORDER-LEFT: #000000 1px;
    BORDER-RIGHT: #000000 1px;
    BORDER-TOP: #000000 1px
}
TABLE.Content
{
    BORDER-LEFT: #000000 1px solid;
    BORDER-RIGHT: #000000 1px solid;
	  BACKGROUND-COLOR: #ffffff
}
TABLE.Pubs
{
    BORDER-SPACING: 2px;
    BORDER-COLLAPSE: separate;

}
TD.Color1
{
    BACKGROUND-COLOR: #d7d6d4;
    BACKGROUND-IMAGE: url(images/TextAreaLeft.jpg);
    BACKGROUND-POSITION: center bottom;
    BACKGROUND-REPEAT: repeat-x
}
TD.Color2
{
    BACKGROUND-COLOR: #ffffff
}
TD.Head
{
    COLOR: #000000;
    FONT-FAMILY: Tahoma;
    FONT-SIZE: 13px;
	FONT-WEIGHT:bold;
	PADDING-LEFT: 12px;
	PADDING-RIGHT: 12px;
	TEXT-ALIGN: left
}
TD.Data
{
    COLOR: #000000;
    FONT-FAMILY: Tahoma;
    FONT-SIZE: 13px;
	PADDING-LEFT: 12px;
	PADDING-RIGHT: 12px;
	TEXT-ALIGN: left
}
.Indented12LR
{
	MARGIN-LEFT: 12px;
    MARGIN-RIGHT: 12px
}
.Indented12LR_spaced
{
	MARGIN-LEFT: 12px;
    MARGIN-RIGHT: 12px;
	MARGIN-TOP: 5px;
	MARGIN-BOTTOM: 15px
	
}
.Indented12LR_bold
{
	MARGIN-LEFT: 12px;
    MARGIN-RIGHT: 12px;
	FONT-WEIGHT: bold
}
.Indented12LR_s16_Bold
{
    MARGIN-LEFT: 12px;
    MARGIN-RIGHT: 12px;
	FONT-WEIGHT: bold;
	FONT-SIZE: 16px
}
.Indented24LR
{
    MARGIN-LEFT: 24px;
    MARGIN-RIGHT: 24px
}
.Indented24LR_bold
{
    MARGIN-LEFT: 24px;
    MARGIN-RIGHT: 24px;
	FONT-WEIGHT: bold
}
.Pic_bordered {
	BORDER-COLOR: #000000;
	BORDER: 2px solid
}
.Pic_unbordered {
	BORDER: 0px solid;
}
.NameHighlight {
	COLOR:#000000;
}
.TitleHighlight {
	FONT-WEIGHT:bold;
	COLOR:#003366
}
.ConferenceHighlight {
	COLOR:#000000
}

